<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>729181010841-gbf3jtfgccbpv4161oesoe0o4ttt7prg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.729181010841-gbf3jtfgccbpv4161oesoe0o4ttt7prg</string>
	<key>API_KEY</key>
	<string>AIzaSyDT5tk5fsF0j0wWrryR9Mktl5ofpKbB85k</string>
	<key>GCM_SENDER_ID</key>
	<string>729181010841</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.stephandesire.flutterproject</string>
	<key>PROJECT_ID</key>
	<string>flutterproject-39568</string>
	<key>STORAGE_BUCKET</key>
	<string>flutterproject-39568.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:729181010841:ios:c0193f98a56abfdd877108</string>
</dict>
</plist>